---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> My Advent of Code Documentation </title>
	</head>
	<body>
    <h1> About </h1>
    <div>
      <a href="/"> Home </a>
    </div>
    <h2> This is my thoughts when I work on the Advent of Code puzzles </h2>
    <p>
    I am currently working on on doc as code in an Astro Docs implementation.
    So far, so good, but I'm still not creating any md files...
    </p>
    <div>
      <a href="/"> Home </a>
    </div>
	</body>
</html>
