---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
    <h1> My Advent of Code Documentation </h1>
    <div>
      <a href="/about"> About! </a>
    </div>

    <ul>
      <li>
        <a href="/days/2022/01"> 2022 / day 01 </a>
      </li>
    </ul>

    <div>
      <a href="/about"> About! </a>
    </div>
	</body>
</html>
